.PlanContainer {
    height: 86vh;
    width: 98vw;
    border-radius: 0px;
}

.planname {
    border-radius: 0px;
    font-family: "Manrope";
    font-size: 22px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    display: flex;
    margin-left: 2rem;
}

.Totalbg {
    position: relative;
    width: 50vw;
    min-height: 55vh;
    margin: 1rem;
    border-radius: 10px;
    background: #F0F0F0;
}

.partupi {
    position: relative;
    width: 65rem;
    /* min-height: 42rem; */
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partwallet {
    width: 60rem;
    height: 8rem;
    margin-left: 5rem;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Dropdown*/
select {
    background-color: #fff !important;
    color: #5f6368 !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    border: 1px solid #d9d9d9 !important;
}

option[value]::file-selector-button {
    background-color: red;
}
/*Dropdown End*/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 32px;
    height: 16px;
    width: 16px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

    .option-input:hover {
        background: #e5e7eb;
    }

    .option-input:checked {
        border: 1px solid #fff;
    }

        .option-input:checked::before {
            color: black;
            height: 16px;
            width: 16px;
            position: absolute;
            content: "✔";
            display: inline-block;
            font-size: 12px;
            left: -2px;
            line-height: 12px;
            border-radius: 50%;
            border: 1px solid #999;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #40e0d0;
            content: "";
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }

.app-check {
    display: flex;
    max-width: 26% !important;
    padding-right: unset;
    padding-left: unset;
    margin-top: 1.5rem;
}

.app-border {
    color: white;
    border: 1px solid #ece9e9;
    border-radius: 7px;
    padding: 5px 7px 5px 9px;
    padding-left: 35px;
    font-size: 12px;
    min-height: 30px;
    background-color: black;
}

.option-input.radio:checked + .app-border {
    background: white;
    color: black;
}

.option-input.radio:disabled,
.option-input.radio:disabled + .app-border {
    cursor: not-allowed;
    opacity: 0.6;
}

.walletimage {
    width: 38px;
    margin-left: 4rem;
}

.wallettext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallettext1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.upitext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

.walletamountbg {
    width: 37rem;
    height: 7rem;
    background: #ADFFC4;
    border-radius: 30px;
    margin-left: 2rem;
}

.walletamount {
    display: flex;
    margin: 2rem;
    font-weight: 700;
}

.walletamountsub {
    margin-top: -2rem;
    font-size: 11px;
    margin-left: 2rem;
}

.paybutton {
    display: flex;
    width: 11rem;
    height: 3rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    background: #4BA464;
    margin-top: -1rem;
}

.verifypaybutton {
    display: flex;
    width: 11rem;
    height: 3rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background: #4BA464;
    margin-top: 3rem;
    border: none;
}

.upi-images {
    margin-left: 0rem;
    margin-bottom: 4rem;
}

.upisub {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    margin-left: 7rem;
    margin-top: 0rem;
}

.upi1 {
    margin-left: 5rem;
    margin-top: 2rem;
}

.textbox {
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 4rem;
    border: solid 1px black;
}

/*hr {
    transform: rotate(90deg);
    width: 8rem !important;
    margin-top: 7rem !important;
    margin-left: -2rem;
}*/

.qrcodetext {
    font-size: 12px;
    margin-left: 3rem;
}

.partnetbank {
    position: relative;
    width: 60rem;
    min-height: 8rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.netbanktext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.netbanksub {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    margin-left: 9rem;
    margin-top: 0rem;
}

.Details2 {
    position: relative;
    width: 60rem;
    height: 92%;
    background-color: #ffffff;
    margin-top: 2rem;
    border-radius: 52px;
    margin-left: 3rem;
}

.summaryleft {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 6rem;
    margin-left: 3rem;
    font-weight: 600;
}

.summaryright {
    display: flex;
    justify-content: right;
    margin-left: 35rem;
    font-weight: 600;
}

.summaryrightsub {
    display: flex;
    justify-content: right;
    margin-left: -6rem;
    font-weight: 100;
    font-size: 11px;
    opacity: 0.7;
    margin-top: -1rem;
}

.summaryleftsub {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 3rem;
    font-weight: 400;
}

.summaryrightsub2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 28rem;
    font-weight: 400;
}

.summaryleftbottom {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
    font-weight: 600;
}

.summaryrightbottom {
    display: flex;
    justify-content: right;
    margin-left: 28rem;
    font-weight: 600;
}

.buybutton {
    width: 55rem;
    height: 5rem;
    background: #070707;
    border-radius: 30.123px;
    color: white;
    font-size: 12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-left: 3rem;
    margin-top: 4rem;
}

.brandAndLogo {
    display: flex;
    align-items: center;
}

/*fitness logo*/

.brand-DesContainer .description_1 {
    font-family: 'capture_it', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #000000;
}

.brand-DesContainer .description_2 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #3E3E3E;
}

.phonepe {
    width: 35px;
}
/*fitness logo*/
@media (max-width: 576px) {
    .Totalbg {
        position: relative;
        width: 195vw;
        min-height: 75vh;
        margin: 1rem;
        border-radius: 10px;
        background: #F0F0F0;
    }

    .Details2 {
        width: 60rem;
        height: 50rem;
        background-color: #ffffff;
        margin-top: 2rem;
        border-radius: 52px;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
}

.qrcode {
    display: block;
    width: 15rem;
    margin-left: 8rem;
}

.closebutton {
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
}


/*fitness logo*/
@media (max-width: 375px) {
    .Totalbg {
        position: relative;
        width: 96vw;
        min-height: 75vh;
        margin: 1rem;
        border-radius: 10px;
        background: #F0F0F0;
    }

    .partupi {
        width: 41rem;
        min-height: 17rem;
        margin-left: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        background: white;
    }

    .partwallet {
        width: 42rem;
        height: 8rem;
        margin-left: 0.5rem;
        border-radius: 10px;
        background: white;
    }

    .partnetbank {
        width: 42rem;
        min-height: 8rem;
        margin-left: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        background: white;
    }

    .Details2 {
        width: 40rem;
        height: 50rem;
        background-color: #ffffff;
        margin-top: 2rem;
        border-radius: 52px;
        margin-left: 1rem;
        margin-bottom: 2rem
    }

    .summaryrightsub2 {
        margin-left: 15rem;
    }

    .summaryrightbottom {
        margin-left: 15rem;
    }

    .paybutton {
        width: 11rem;
        height: 3rem;
        margin-left: 1rem;
        margin-top: -1rem;
    }

    .walletamountbg {
        width: 22rem;
        height: 5rem;
        background: #ADFFC4;
        border-radius: 30px;
        margin-left: 1rem;
    }

    .walletamount {
        display: flex;
        margin: 1rem;
        margin-left: 0rem;
        font-weight: 500;
        font-size: 10px;
    }

    .paybutton {
        width: 7rem;
        height: 2rem;
        margin-left: 1.5rem;
        margin-top: -0.5rem;
        font-size: 8px;
    }

    .option-input {
        top: 0px;
        right: 0;
        bottom: 0;
        left: 12px;
    }

    .walletimage {
        width: 38px;
        margin-left: 1rem;
    }

    .walletamountsub {
        margin-top: -1rem;
        font-size: 8px;
        margin-left: 0rem;
    }

    .netbanksub {
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        margin-left: 2rem;
        margin-top: 0rem;
    }

    .upisub {
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        margin-left: 2rem;
        margin-top: 0rem;
    }

    .upi1 {
    margin-left: 0rem;
    margin-top: 2rem;
    font-size: 9px !important;
    }

    .qrcode {
        display: block;
        width: 15rem;
        margin-left: 3rem;
    }

    .textbox {
        border-radius: 1rem;
        padding: 0.5rem;
        margin-left: 1rem;
    }

    .verifypaybutton {
        margin-left: 2rem;
    }

    .phonepe {
        margin-top: -2rem;
        width: 20px;
    }

    .upi-images {
        margin-left: 2rem;
    }

    .qrcode {
        margin-left: 2rem;
    }

    .qrcodetext {
        font-size: 12px;
        margin-left: 5rem;
    }
}



/*fitness logo*/
@media (max-width: 320px) {
    .Totalbg {
        position: relative;
        width: 95vw;
        min-height: 75vh;
        margin: 1rem;
        border-radius: 10px;
        background: #F0F0F0;
    }
    .partupi {
        width: 36rem;
        min-height: 17rem;
        margin-left: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        background: white;
    }

    .Details2 {
        width: 60rem;
        height: 50rem;
        background-color: #ffffff;
        margin-top: 2rem;
        border-radius: 52px;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    .upi1 {
        margin-left: 0rem;
        margin-top: 2rem;
        font-size: 7px !important;
    }
    .qrcode {
        display: block;
        width: 10rem;
        margin-left: 5rem;
    }
    .verifypaybutton {
        margin-left: 6rem;
    }
}


/*Login*/
.DisplyCard1 {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9997;
    background-color: #000000eb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.LoginCard {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
    padding-bottom: 4rem;
}

.LoginHeight {
    max-height: 36rem;
    text-align: center;
}

.txtbox {
    font-size: 1.5rem !important;
    width: 100%;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    color: black;
    font-weight: 500;
    transition: 0.1s ease-out;
    background-color: #fff;
}

.txtlabel {
    position: absolute;
    font-size: 1.4rem !important;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #5f6368;
    font-weight: 500;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.btnVerify {
    border-radius: 0.5rem;
    width: 10rem;
    font-size: 1.4rem !important;
    height: 3.3rem !important;
    border: 0;
    background-color: #000000;
    color: white;
    font-family: 'Manrope' !important;
}

.btnSubmit {
    border-radius: 0.5rem;
    width: 10rem !important;
    font-size: 1.3rem !important;
    height: 3.3rem !important;
    border: 0;
    background-color: #000000;
    color: white;
}

.btnCancel {
    border-radius: 0.5rem;
    width: 10rem !important;
    height: 3.3rem !important;
    font-size: 1.3rem !important;
    border: 1px solid;
    background-color: #ffffff;
    color: black;
}

.btnLoginClose {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
}

.LoginLogoImage {
    height: 15% !important;
    width: 45px;
    margin: 1rem !important;
}

.LoginGmailHeader {
    width: 100%;
    height: 12%;
    text-align: center;
    color: #9e9e9e;
    font-size: 14px;
    margin-top: 0rem !important;
}

